
<nav class="navbar navbar-default">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">H.A.L.</a>
  </div>
  <form class="navbar-form pull-right" role="search">
            <a href="/logout" class="btn btn-info">
                <span class="glyphicon glyphicon-log-out"></span> Cerrar
            </a>
  </form>
            <p class="navbar-text pull-right" >Bienvenido {{ datos.user.nombre}} {{datos.user.apellido}}</p>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
       <li>
         <a href="/">Inicio</a>
       </li>

       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contribuyentes <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/contribuyentes/nuevo">Nuevo</a></li>
          <li><a href="/contribuyentes/listar">Listar</a>
          <li><a href="/contribuyentes/deudores">Deudores</a></li>
          <li><a href="/contribuyentes/pagar">Pagar cuotas</a></li>
          <li><a href="/contribuyentes/generar">Generar mes</a></li>
        </ul>
      </li>
      <li class="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Residentes <span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a href="/residentes/nuevo">Nuevo</a></li>
         <li><a href="/residentes/listar">Listar</a>
      </ul>
     </li>
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contabilidad <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/contable/caja">Caja</a></li>
          <li><a href="/contable/movimientos">Movimientos</a></li>
          <li><a href="/contable/consultar">Consultas</a></li>
        </ul>
      </li>
      <li class="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articulos <span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a href="/articulos/alta">Gestión de Artículos</a></li>
         <li><a href="/articulos/stock">Manejo de stock</a></li>
       </ul>
     </li>

    </ul>


  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
