<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/app.css">
  
  <title>Hogar de Ancianos</title>
</head>
<body>
  
  <div class="wrapper">

    {{> header }}
   
    <div class="container">
      
      {{{ body }}}
    </div>
    <div class="push"></div>
  </div>
    {{> footer }}
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.1.0/superagent.min.js"></script>
  
  <script>
  let fgen = document.getElementById('form-generar')
  if(fgen) {
  fgen.addEventListener("submit", function(event){
    event.preventDefault()
    let result = document.getElementById('resultado')
    result.classList.add('loader')
    let formData = new FormData(fgen)
    superagent
    .post('/contribuyentes/generar')
    .send(formData)
    .end(function(err, res){
     /* if(res.text == 'Ok') {*/
    //  clearForm(fcli)
    //  } else {
        result.classList.remove('loader')
        result.innerHTML = res.text
    //  }
    })

    
  });
}
  </script>
</body>
</html>