<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel='stylesheet' href='/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/css/app.css'>

  <title>Hogar de Ancianos</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src='/js/bootstrap.min.js'></script>

</head>
<body>

  <div class='wrapper'>

    {{> header }}

    <div class='container'>

      {{{ body }}}
    </div>
    <div class='push'></div>
  </div>
    {{> footer }}


  <script>
  let fgen = document.getElementById('form-ingresar-contribuyentes')
  let fedit = document.getElementById('form-editar-contribuyentes')
  if(fgen) {
    fgen.addEventListener('submit', async event => {
      event.preventDefault()
      document.getElementById('resultado')
      //result.classList.add('loader')
      let formData = new FormData(fgen)
      let res = await fetch('/contribuyentes/add', {
        method: 'POST',
        body: formData
      })
      await res.json()
      clearForm(fgen)
    })
}

if(fedit) {
    fedit.addEventListener('submit', async event => {
      event.preventDefault()
      document.getElementById('resultado')
      //result.classList.add('loader')
      let formData = new FormData(fedit)
      let res = await fetch('/contribuyentes/editar', {
        method: 'POST',
        body: formData
      })
      await res.json()
      clearForm(fedit)
    })
}

function clearForm(myFormElement) {

    var elements = myFormElement.elements
    //myFormElement.reset()

    for(let i=0; i<elements.length; i++) {

      let field_type = elements[i].type.toLowerCase()

      switch(field_type) {
      case 'text':
      case 'password':
      case 'textarea':
      case 'hidden':
        elements[i].value = ''
        break
      case 'radio':
      case 'checkbox':
        if (elements[i].checked) {
          elements[i].checked = false
        }
        break
      case 'select-one':
      case 'select-multi':
      //    elements[i].selectedIndex = 0;
        break
      default:
        break
      }
    }

  }
  </script>
</body>
</html>
