<div class="container">
  <div class="jumbotron text-center">
    <h1>Disponible en Caja</h1>
    <p>&nbsp;</p>
    <div class="row">
      <div class="col-md-4">

        <input type="text" id="caja" class="form-control" value="$ {{ caja.saldo }}" readonly>
      </div>
    </div>
  </div>
  <p><a href="/contable/movimientos" id="pago" class="btn btn-success">Realizar movimiento</a></p>

</div>
<script>

</script>
