<div class="container">
  <h1>{{titulo}}</h1>
  <p>&nbsp;</p>
  <div class="row">
    <h3>Pago de cuotas</h3>
   <form class="form-horizontal" id="form-pago" >

     <div class="form-group">
       <label for="fecha" class="col-sm-2 control-label">Fecha</label>
       <div class="col-sm-2">
         <input type="text" class="form-control text-center" id="fecha" name="fecha">
       </div>
     </div>
     <div class="form-group">
       <label for="id" class="col-sm-2 control-label">Nro.Conribuyente</label>
       <div class="col-sm-2">
         <input name="id" type="text" class="form-control text-center" id="id" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
       </div>
     </div>
     <div class="form-group">
       <label for="importe" class="col-sm-2 control-label">Importe</label>
       <div class="col-sm-2">
         <input type="text" class="form-control text-center" id="importe" name="importe">
       </div>
     </div>

     <input type="submit" class="btn btn-default" value="Guardar">
   </form>
  </div>
</div>
