<p>&nbsp;</p>
<div class="row">

  <div class="col-md-6">
    <div id="result">


    <table class="table table-condensed table-striped table-bordered table-responsive" >
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Saldo</th>
      </tr>
      {{#each contris}}
        <tr>
          <td>{{ nombre }}</td>
          <td>{{ apellido }}</td>
          <td>{{ saldo }}</td>
        </tr>
      {{/each}}
    </table>
    </div>
  </div>
</div>
