<div class="container">
  <h1>{{titulo}}</h1>
  <p>&nbsp;</p>
  <div class="row">
   <form class="form-horizontal" id="form-residentes" >

     <div class="form-group">
       <label for="nombre" class="col-sm-2 control-label">Nombre</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="nombre" name="nombre">
       </div>
     </div>
     <div class="form-group">
       <label for="apellido" class="col-sm-2 control-label">Apellido</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="apellido" name="apellido">
       </div>
     </div>

     <div class="form-group">
       <label for="documento" class="col-sm-2 control-label">Documento</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="documento" name="documento">
       </div>
     </div>
     <div class="form-group">
       <label for="nacimiento" class="col-sm-2 control-label">Fec. Nacimiento</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="nacimiento" name="nacimiento">
       </div>
     </div>
     <div class="form-group">
       <label for="domicilio" class="col-sm-2 control-label">Domicilio</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="domicilio" name="domicilio">
       </div>
     </div>
     <div class="form-group">
       <label for="tipoIngreso" class="col-sm-2 control-label">Tipo de ingreso</label>
       <div class="col-sm-4">
         <select class="form-control" id="tipo_ingreso" name="tipo_ingreso">
           <option value="P">Pensión</option>
           <option value="J">Jubilación</option>
         </select>
       </div>
     </div>
     <div class="form-group">
       <label for="mutualista" class="col-sm-2 control-label">Mutualista</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="mutualista" name="mutualista">
       </div>
     </div>

     <div class="form-group">
       <label for="cuidados" class="col-sm-2 control-label">Serv. Acompañantes</label>
       <div class="col-sm-4">
         <input type="text" id="cuidados" name="cuidados" class="form-control" >
       </div>
       <div class="input-group col-sm-3">
         <div class="input-group-addon"><i class="fa fa-phone"></i></div>
         <input class="form-control" type="text" name="tel_cuidado" id="tel_cuidado">
       </div>
    </div>
    <div class="form-group">
       <label for="previsora" class="col-sm-2 control-label">Previsora</label>
       <div class="col-sm-4">
         <input type="text" id="previsora" name="previsora" class="form-control" >
       </div>
       <div class="input-group col-sm-3">
         <div class="input-group-addon"><i class="fa fa-phone"></i></div>
         <input class="form-control" type="text" name="tel_previsora" id="tel_previsora">
       </div>
    </div>
    <div class="form-group">
       <label for="ingreso" class="col-sm-2 control-label">Ingreso</label>
       <div class="col-sm-4">
         <input type="text" name="ingreso" id="ingreso" class="form-control" >
       </div>
    </div>
    <fieldset id="campos">
      <legend>Agregar Referente</legend>
      <div class="form-group">
        <div class="col-sm-11">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <input type="text" class="form-control" id="referente" placeholder="Nombre y apellido">
            <div class="input-group-addon">
              <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <input type="text" class="form-control" id="parentezco" placeholder="Parentezco">
            <div class="input-group-addon">
              <i class="fa fa-phone-square" aria-hidden="true"></i>
            </div>
            <input type="text" class="form-control" id="telref" placeholder="Teléfono">
            <div class="input-group-addon">
              <i class="fa fa-mobile" aria-hidden="true"></i>
            </div>
            <input type="text" class="form-control" id="celref" placeholder="Celular">
          </div>
        </div>
        <div class="col-sm-1">
          <button type="button" id="add" class="btn"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
        </div>
      </div>
      <table id="respo" class="table table-condensed table-striped">
        <tr>
          <th>Nombre</th>
          <th>Parentezco</th>
          <th>Teléfono</th>
          <th>Celular</th>
        </tr>
      </table>
      <button type="button" class="btn" id="remover"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
    </fieldset>
    <br>

     <input type="submit" class="btn btn-default" value="Guardar">
   </form>
  </div>
</div>

<script>
  const form = document.getElementById('form-residentes')
  form.addEventListener('submit', async evt => {
    evt.preventDefault()
    const formData = new FormData(form)
    const tabla = document.getElementById('respo')
    let parientes = []

    if(tabla.childNodes.length > 2 ) {
      for(let i = 2; i < tabla.childNodes.length; i++) {
        let p = {
          nombre: tabla.childNodes[i].childNodes[0].childNodes[0].data,
          parentezco: tabla.childNodes[i].childNodes[1].childNodes[0].data,
          telefono: tabla.childNodes[i].childNodes[2].childNodes[0].data,
          celular: tabla.childNodes[i].childNodes[3].childNodes[0].data
        }
        parientes.push(p)
      }
    }

    for(let h = 0; h < parientes.length; h++) {
      formData.append(`parientes[${h}].nombre`, parientes[h].nombre)
      formData.append(`parientes[${h}].parentezco`, parientes[h].parentezco)
      formData.append(`parientes[${h}].telefono`, parientes[h].telefono)
      formData.append(`parientes[${h}].celular`, parientes[h].celular)
    }
    let res = await fetch('/residentes/add', {
      method: 'POST',
      body: formData
    })

    let respuesta = await res.json()
    //console.log(respuesta)
    clearForm(form)
    recursiva()
  })

  document.getElementById('add').addEventListener('click', add)
  document.getElementById('remover').addEventListener('click', remove)

  function recursiva() {
    let tabla = document.getElementById('respo')
    if(tabla.childNodes.length > 2) {
      remove()
      recursiva()
    }

  }

  function add() {

    let nombre = document.getElementById('referente')
    let tel = document.getElementById('telref')
    let cel = document.getElementById('celref')
    let parentezco = document.getElementById('parentezco')
    let campos = document.getElementById('respo')
    let tr = document.createElement('tr')
    let texto = `<td>${nombre.value}</td><td>${parentezco.value}</td><td>${tel.value}</td><td>${cel.value}</td>`
    //eldiv.classList.add('col-sm-4')
    //let p = document.createElement('p')
  //  p.classList.add('form-control-static')
    //let text = document.createTextNode(nombre.value + ' ' +tel.value)
    //p.appendChild(text)
    tr.innerHTML = texto
    campos.appendChild(tr)
    tel.value = ''
    nombre.value = ''
    cel.value = ''
    parentezco.value = ''

  }

  function prueba() {
    let tabla = document.getElementById('respo')
    let fila = tabla.childNodes[2].childNodes[0].childNodes[0]
    console.log(fila)
  }

  function remove() {
    let tabla = document.getElementById('respo')
    if(tabla.childNodes.length > 2) {
      tabla.removeChild(tabla.lastChild)
    }
  }
</script>
